<h1>Survery Responses</h1>

<div class="container">

<table class="table-striped text-center">
  <thead>
      <% @questions.each do |map| %>
       <th data-toggle="tooltip" data-placement="right" title="<%= map["question"] %>"> <%= map["question"] %> </th>
    <% end %>
  </thead>
  <tbody>
    <% @mappingHash.each_with_index do |map| %>
      <tr class="active">
        <td><%= map["Q_Score"] %></td>
        <td><%= map["Q_Organised"] %></td>
        <td><%= map["Q_Industry"] %></td>
        <td><%= map["Q_Examples"] %></td>
        <td><%= map["Q_Feedback"] %></td>
        <td><%= map["Q_Contact"] %></td>
        <td><%= map["Q_ClearProjects"] %></td>
        <td><%= map["Q_TName"] %></td>
        <span> <td data-toggle="tooltip" data-placement="right" title="<%= map["Q_feedbacktext"] %>"></span><%= map["Q_feedbacktext"] %></td>
        <td><%= map["Q_DrawsAttention"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<script>
$(document).ready(function(){
   $('[data-toggle="tooltip"]').tooltip();
});
</script>
