<%= render 'partials/nav' %>

<div class="container">
<h1 class="text-center">Survey Responses</h1>
<div class="row">
<div class="filter col-md-6">
  <form id="search_form" action="/" method="get">
    <p>Select Trainer: </p>

   <select name="trainer">
     <option value="">Select Trainer</option>
   <% @trainers.each do |trainer| %>
    <option value="<%= trainer %>"><%= trainer %>
   <%end%>
   </select>
  </form>

  <div id = "Blah" class="hidden"></div>


</div>

<div class="filter col-md-6">

 <h2>NPS Score:</h2>
  <% for i in 0..@trainers.length-2 %>
    <% if @trainers[i] == @filter || @filter == "" || !@filter %>
      <h3><%= @trainers[i] %> = <%= @NPSScore[i] %></h3>
    <% end %>
  <% end %>

</div>
</div>


<table class="table-striped text-center">
 <thead>
     <% @questions.each_with_index do |map,index| %>
      <th> <span data-toggle="tooltip" data-placement="right" title="<%= map["question"] %>">Q<%= index %></span></th>
   <% end %>
 </thead>
 <tbody>
   <% @mappingHash.each_with_index do |map| %>
     <tr class="active">

       <% if map["Q_TName"] == @filter || @filter == "" || !@filter %>

       <% if (map["Q_Score"] >= 8) %>
         <td class="good"><%= map["Q_Score"] %></td>
       <% elsif (map["Q_Score"] < 8 && map["Q_Score"] >= 5 ) %>
         <td class="medium"><%= map["Q_Score"] %></td>
       <% else (map["Q_Score"] < 5) %>
         <td class="bad"><%= map["Q_Score"] %></td>
        <% end %>

         <td><%= map["Q_Organised"] %></td>
         <td><%= map["Q_Industry"] %></td>
         <td><%= map["Q_Examples"] %></td>
         <td><%= map["Q_Feedback"] %></td>
         <td><%= map["Q_Contact"] %></td>
         <td><%= map["Q_ClearProjects"] %></td>
         <td><%= map["Q_TName"] %></td>
        <td style="min-width:130px">
          <span data-toggle="tooltip" data-placement="top" title="<%= map['Q_feedbacktext'] %>">More information...</span>
        </td>
         <td><%= map["Q_DrawsAttention"] %></td>
       <% end %>
<% end %>
     </tr>

 </tbody>
</table>
</div>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
