<h1>Heading</h1>

<% @mappingHash.each do |map| %>
  <li><%= map["name"]%><%= map["score"] %></li>
<% end %>

    <h1>BREAK</h1>

    <% @jsontests["responses"].each do | jsontest | %>
      <%= jsontest["answers"]["opinionscale_b2FX1apYy6KY"] %>
      <%= jsontest["answers"]["dropdown_oXn12MMLCWad"] %>
      <br>
    <% end %>

  </div>


<h1>Break</h1>

<%= bar_chart ({"Jack" => [1],"Jack" => [1],"Jack" => [1],"Jack" => [7],"Jack" => [5], "Joe" => [7]}) %>
